body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: blueviolet;
    margin-bottom: 60px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
     padding: 0 20px;
     margin-left: 20px;
     margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
nav, ul, li, a:hover {
    color: rgb(44, 211, 22);
}

.botao-contato {
    font-size: 30px;
    background-color: rgb(21, 255, 0);
    font-weight: bold;
    padding: 5px;
    border: solid 3px rgb(21, 255, 0);
    border-radius: 5px;
}

#titulo-principal {
    color: rgb(30, 255, 0);
    font-size: 36px;
    padding-left: 60px;
    padding-bottom: 10px;
    font-weight: bold;
}

#paragrafo-introducao {
    position: relative;
    left: 90px;
    width: 1000px;
    margin-left: 200px;
    height: 400px;
    margin-bottom: 160px;
    margin-top: 160px;
}

#paragrafo-introducao h2 {
    font-size: 36px;
    font-weight: bold;
    max-width: 560px;
}

#paragrafo-introducao p {
    font-size: 20px;
    max-width: 600px;
    text-align: justify;
}

#paragrafo-introducao img {
    position: absolute;
    right: 0;
    bottom: 0px;
    width: 380px;
}

#titulo-especialidade {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 120px;
}

.destaque-titulo {
    color: rgb(30, 255, 0);;
}

.minhas-especialidades {
    margin-bottom: 220px;
    max-width: 260px;
    height: 300px;
    float: left;
    padding: 20px;
}

.minhas-especialidades p {
    font-size: 16px;
    max-width: 340px;
    text-align: justify;
}

.minhas-especialidades h4 {
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.sobre-mim {
    clear: both;
    position: relative;
    left: 70px;
    max-width: 1000px;
    height: 580px;
    margin-left: 150px;
}

.sobre-mim h4 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    right: 10px;
}

.sobre-mim img {
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 95px;
    width: 380px;
    padding-right: 40px;
}

.sobre-mim p {
    text-align: justify;
    max-width: 610px;
    position: absolute;
    right: 0px;
    top: 200px;
}

.btn-social button{
    position: absolute;
    bottom: 0px;
}