body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: blueviolet;
    margin-bottom: 60px;
}

nav, ul {
    display: flex;
    list-style: none;
    align-items: center;
}

nav, ul, li {
     padding: 0 20px;
     margin-left: 20px;
     margin-right: 20px;
}

nav, ul, li, a {
    text-decoration: none;
    font-size: 29px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}
nav, ul, li, a:hover {
    color: rgb(44, 211, 22);
}

.botao-contato {
    font-size: 30px;
    background-color: rgb(21, 255, 0);
    font-weight: bold;
    padding: 5px;
    border: solid 3px rgb(21, 255, 0);
    border-radius: 5px;
}

#titulo-principal {
    color: rgb(30, 255, 0);
    font-size: 36px;
    padding-left: 60px;
    padding-bottom: 10px;
    font-weight: bold;
}

#paragrafo-introducao {
    display: flex;
    width: 600px;
    align-items: center;
}

#paragrafo-introducao, p {
    font-size: 12px;
    justify-content: center;
    align-items: left;
}

#paragrafo-introducao, h2 {
    font-size: 28px;
    font-weight: bold;
    align-items: center;
}

